@media (min-width:320px) and (max-width:449.9px){
	.navbar-toggler-icon {
  background-color:rgb(173 63 63 / 88%)!important;
}
.navbar-light .navbar-toggler {
    color:rgb(173 63 63 / 88%);
    border-color: rgb(173 63 63 / 88%);
    
}
.skills-section .row .org .inner img {
	height:195px !important;
	width:270px;
}
.navbar-toggler:focus {
   
    box-shadow: 0 0 0 0.15rem;
}
header nav ul {
	background-color: #5a6876 ;
	padding-bottom: 7px;
}
header nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 9px !important;
    margin: 0px 3px;
    transition: all 0.2s linear !important;
    position: relative;
}
header nav ul li a{
	display: inline-block!important;
}
header .content h1 {
    font-size: 20px;
    padding-top: 40px;
}
header .content p {
    font-size: 15px;

}
header .content a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 4px 9px;
    background-image: linear-gradient(50deg, #120d06cf,blue);
    border: 1px solid white;
}
.social-icon{
	display:none;
}
.about-section .about h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align:center;
    padding:40px 0px 5px 0px;
    color: #40AFCC;
    font-weight: 500;
}
.about-section .about p {
    font-size: 15px;
    color: #242424;
    line-height: 21px;
    margin-bottom: 15px;
    transition-duration: .3s;
    text-align: justify;
}
.skills-section h3 {
    padding: 41px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.skills-section .row .inner{
	padding-bottom: 20px;
}
.resume-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.resume-section .resume h4 {
	padding-top: 30px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
}
.resume-section p{
	font-size:14px;
	margin-bottom: 6px !important;
}
.works-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.works-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 28px;
    color: #728293;
}
.footer .foot p {
    font-size: 15px;
    text-align: justify;
    margin-bottom:0px;
}
.footer h2{
	padding-top: 50px;
}
.footer {
    padding: 5px 0px;
    background-image: linear-gradient(-90deg,#5a6876, black);
    color: white;
}





}
@media (min-width:450px) and (max-width:575.9px){
		.navbar-toggler-icon {
  background-color:rgb(173 63 63 / 88%)!important;
}
.navbar-light .navbar-toggler {
    color:rgb(173 63 63 / 88%);
    border-color: rgb(173 63 63 / 88%);
    
}
.skills-section .row .org .inner img {
	height:195px !important;
	width:270px;
}
.navbar-toggler:focus {
   
    box-shadow: 0 0 0 0.15rem;
}
header nav ul {
	background-color: #5a6876 ;
	padding-bottom: 7px;
}
header nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 9px !important;
    margin: 0px 3px;
    transition: all 0.2s linear !important;
    position: relative;
}
header nav ul li a{
	display: inline-block!important;
}
header .content h1 {
    font-size: 20px;
    padding-top: 40px;
}
header .content p {
    font-size: 15px;

}
header .content a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 4px 9px;
    background-image: linear-gradient(50deg, #120d06cf,blue);
    border: 1px solid white;
}
.social-icon{
	display:none;
}
.about-section .about h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align:center;
    padding:40px 0px 5px 0px;
    color: #40AFCC;
    font-weight: 500;
}
.about-section .about p {
    font-size: 15px;
    color: #242424;
    line-height: 21px;
    margin-bottom: 15px;
    transition-duration: .3s;
    text-align: justify;
}
.skills-section h3 {
    padding: 41px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.skills-section .row .inner{
	padding-bottom: 20px;
}
.resume-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.resume-section .resume h4 {
	padding-top: 30px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
}
.resume-section p{
	font-size:16px;
	margin-bottom: 6px !important;
}
.works-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.works-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 28px;
    color: #728293;
}
.footer .foot p {
    font-size: 15px;
    text-align: justify;
    margin-bottom:0px;
}
.footer h2{
	padding-top: 50px;
}
.footer {
    padding: 5px 0px;
    background-image: linear-gradient(-90deg,#5a6876, black);
    color: white;
}

	
}
@media (min-width:576px) and (max-width:767.9px){
	.navbar-toggler-icon {
  background-color:rgb(173 63 63 / 88%)!important;
}
.navbar-light .navbar-toggler {
    color:rgb(173 63 63 / 88%);
    border-color: rgb(173 63 63 / 88%);
    
}
.navbar-toggler:focus {
   
    box-shadow: 0 0 0 0.15rem;
}
header nav ul {
	background-color: #5a6876 ;
	padding-bottom: 7px;
}
header nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 9px !important;
    margin: 0px 3px;
    transition: all 0.2s linear !important;
    position: relative;
}
header nav ul li a{
	display: inline-block!important;
}
header .content h1 {
    font-size: 20px;
    padding-top: 40px;
}
header .content p {
    font-size: 17px;

}
header .content a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 6px 13px;
    background-image: linear-gradient(50deg, #120d06cf,blue);
    border: 1px solid white;
}
.social-icon{
	display:none;
}
.about-section .about h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align:center;
    padding:40px 0px 5px 0px;
    color: #40AFCC;
    font-weight: 500;
}
.about-section .about p {
    font-size: 16px;
    color: #242424;
    line-height: 21px;
    margin-bottom: 15px;
    transition-duration: .3s;
    text-align: justify;
}
.skills-section h3 {
    padding: 41px 0px;
    color: #40AFCC;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 500;
}
.skills-section .row .inner{
	padding-bottom: 20px;
	margin-right: 10px !important;
}
.skills-section .row .org .inner img {
	height:170px !important;
	width:236px;
}
.resume-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.resume-section .resume h4 {
	padding-top: 30px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
}
.resume-section p{
	font-size:16px;
	margin-bottom: 6px !important;
}
.works-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.works-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 28px;
    color: #728293;
}
.footer .foot p {
    font-size: 15px;
    text-align: justify;
    margin-bottom:0px;
}
.footer h2{
	padding-top: 50px;
}
.footer {
    padding: 5px 0px;
    background-image: linear-gradient(-90deg,#5a6876, black);
    color: white;
}
	
}
@media (min-width:768px) and (max-width:991.9px){

.navbar-toggler-icon {
  background-color:rgb(173 63 63 / 88%)!important;
}
.navbar-light .navbar-toggler {
    color:rgb(173 63 63 / 88%);
    border-color: rgb(173 63 63 / 88%);
    
}
.navbar-toggler:focus {
   
    box-shadow: 0 0 0 0.15rem;
}
header nav ul {
	background-color: #5a6876 ;
	padding-bottom: 7px;
}
header nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 9px !important;
    margin: 0px 3px;
    transition: all 0.2s linear !important;
    position: relative;
}
header nav ul li a{
	display: inline-block!important;
}
header .content h1 {
    font-size: 20px;
    padding-top: 40px;
}
header .content p {
    font-size: 22px;

}
header .content a {
    font-size:20px;
    text-decoration: none;
    color: white;
    padding: 6px 13px;
    background-image: linear-gradient(50deg, #120d06cf,blue);
    border: 1px solid white;
}
.social-icon{
	display:none;
}
.about-section .about h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align:center;
    padding:40px 0px 5px 0px;
    color: #40AFCC;
    font-weight: 500;
}
.about-section .about p {
    font-size: 16px;
    color: #242424;
    line-height: 21px;
    margin-bottom: 15px;
    transition-duration: .3s;
    text-align: justify;
}
.about-section img {
   
    margin-top: 72px;
}
.skills-section h3 {
    padding: 41px 0px;
    color: #40AFCC;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 500;
}
.skills-section .row .inner{
	padding-bottom: 20px;
	margin-right: 10px !important;
}
.skills-section .row .org .inner img {
	height:148px !important;
	width:236px;
}
.skills-section .on {
    width: 270px;
    height: 148px;
    object-fit: cover;
}
.resume-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.resume-section .resume h4 {
	padding-top: 30px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
}
.resume-section p{
	font-size:18px;
	margin-bottom: 6px !important;
}
.works-section h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0px 20px 0px;
    color: #40AFCC;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.works-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 28px;
    color: #728293;
}
.footer .foot p {
    font-size: 15px;
    text-align: justify;
    margin-bottom:0px;
}
.footer h2{
	padding-top: 50px;
}
.footer {
    padding: 5px 0px;
    background-image: linear-gradient(-90deg,#5a6876, black);
    color: white;
}


	
}
@media (min-width:992px) and (max-width:1199.9px){
	.skills-section .row .org .inner img {
	height:156px !important;
	width:216px;
	
}
.skills-section .on {
    width: 216px;
    height: 156px;
    object-fit: cover;
    margin-top: 10px;
}


}

@media (min-width:1200px) and (max-width:1400px){

	.skills-section .row .org .inner img {
	height:187px !important;
	width:261px;
	
}
.skills-section .on {
    width: 261px;
    height: 187px;
    object-fit: cover;
    margin-top: 10px;
}
header .content {
	padding:150px 0px ;
	
}
.about-section .about p {
    font-size: 19px;
    color: #242424;
    line-height: 24px;
    margin-bottom: 38px;
    transition-duration: .3s;
}

} 